html{
    color: white;
    background: black;
}

.ui-widget.ui-widget-content{
    border: 1px transparent;
}
.ui-menu {
    font-family: 'roboto';
    font-size: 20px;
    width: 200px; 
    margin: 30px;
    position: absolute;
}

.ui-widget-content a {
    color: white;
    text-decoration: none;
}
    
.ui-state-active {
    background: red !important;
}
.ui-widget-content .ui-state-active{
    border: 1px solid red;
}

.toggle-button{
    position: fixed;
    width: 44px;
    height: 40px;
    padding: 4px;
    transition: .25s;
    z-index: 15;
}
.toggle-button:hover{
    cursor: pointer;
}
.toggle-button .menu-bar{
    position: absolute;
    border-radius: 2px;
    width: 80%;
    transition: .5s;
}
.toggle-button .menu-bar-top{
    border: 4px solid #555;
    border-top: none;
    top: 22px;
}
.toggle-button .menu-bar-middle{
    height: 4px;
    background-color: #555;
    margin-top: 7px;
    margin-bottom: 7px;
    top: 4px;
}
.toggle-button .menu-bar-bottom{
    border: 4px solid #555;
    border-bottom: none;
    top: 0;
}
.button-open .menu-bar-top{
    transform: rotate(45deg) translate(8px, 8px);
    transition: .5s;
}
.button-open .menu-bar-middle{
    transform: translate(230px);
    transition: .1s ease-in;
    opacity: 0;
}
.button-open .menu-bar-bottom{
    transform: rotate(-45deg) translate(230px);
    transition: .5s;
}
.menu-wrap{
    background-color: #6968AB;
    position: fixed;
    top: 0;
    height: 100%;
    width: 280px;
    margin-left: -280px;
    font-size: 1em;
    font-weight: 700;
    overflow: auto;
    transition: .25s;
    z-index: 10;
}