.ui-menu {
    font-family: 'roboto';font-size: 20px;
    color: white;
    width: 200px; 
    background: rgb(53, 68, 59);
}


a {
    text-decoration: none;
}
    
.ui-state-active {
    background: rgb(82, 122, 98) !important;
}
.ui-widget-content .ui-state-active{
    border: 1px solid rgb(53, 68, 59);
}
.ui-widget-content a {
    color: white;
}
.ui-widget.ui-widget-content {
    border: thin;
}