.ui-menu {
    font-family: 'roboto';font-size: 20px;
    width: 200px; 
    margin: 30px;
    
}

a {
    text-decoration: none;
}
    
.ui-state-active {
    background: red !important;
}
.ui-widget-content .ui-state-active{
    border: 1px solid red;
}